.block{
    width: 300px;
    height: 100px;
    margin: 20px auto 0;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 20px;
}

.block div {
    margin: 5px;
}

.block .showNames{
    text-align: left;
}




