.tuesday {
  text-align: center;
}

.todoList {
  width: 500px;
  margin: 0 auto;
}

.todoList-task{
  text-align: left;
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-top: 5px;
}

.todoList-task.lowPriority {
  background-color: #8cee8e;
}

.todoList-task.middlePriority {
  background-color: #efe35f;
}

.todoList-task.highPriority {
  background-color: #ee4840;
}

.todoList-task div{
  width: 200px;
  text-align: left;
}

.todoList-task div:last-child{
  text-align: center;
}

.todoList-task button{
  height: 20px;
}

.todoList > div {
  padding: 10px;
}

.filter-active {
  background-color: blue;
}

.error {
  border-color: red;
}

.todoList-task.done {
  opacity: 0.5;
}

