.messageWrap{
    background: #68a3ff;
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 40%;
    margin: 0 auto;

}

.messageWrap .avatar {
    width: 70px;
    border-radius: 50%;
    align-self: flex-end;
    margin-right: 30px;
}

.messageWrap .messageBlock {
    position: relative;
    width: 500px;
    height: 100%;
    background-color: #f0f297;
    border-radius: 10px;
    padding: 15px;
    word-wrap: break-word;
}

.messageWrap .messageBlock:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -3%;
    top: 88%;
    border: 12px solid;
    border-color: transparent #f0f297 #f0f297 transparent;
}

.messageWrap .messageBlock .senderName, .message, .time {
    margin: 0;
    text-align: left;
}

.messageWrap .messageBlock .senderName {
    color: #3862c9;
    margin-bottom: 10px;
}

.messageWrap .messageBlock .time {
    text-align: right;
}
