.App {
    text-align: center;
    position: relative;
    padding-top: 100px;
}

.mainPreloader {
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50% - 50px);
}

.wednesday {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    z-index: -1;
}

.wednesday .themeChoose {
    width: 50%;
    margin: 0 auto 50px;
}

.wednesday .themeChoose label {
    cursor: pointer;
}

.dark {
    background-color: #2e425f;
    color: #ffffff;
}

.light {
    background-color: #c8fff8;
    color: #2e425f;
}

.color {
    background: linear-gradient(90deg, red 0%, orange 25%, yellow 50%, green 75%, blue 100%);
    color: #5163db;
}

.checkboxBlock {
    cursor: pointer;
}


.sendButtonBlock{
    margin-top: 20px;
}

.sendButtonBlock button:active {
    transform: scale(0.95);
}

.wednesdayPreloader {
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50% - 50px);
}

.messageBlock {
    width: 300px;
    height: 150px;
    position: absolute;
    left: calc(50% - 150px);
    top: 20vh;
    z-index: 2;
    box-shadow: 0 0 10px #040204 ;
    border: 3px dashed dodgerblue;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messageSuccess {
    color: green;
}

.messageError {
    color:red;
}




