.App {
    text-align: center;
    position: relative;
    padding-top: 100px;
}

.wednesday {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    z-index: -1;
}

.wednesday .themeChoose {
    width: 50%;
    margin: 0 auto 50px;
}

.wednesday .themeChoose label {
    cursor: pointer;
}

.dark {
    background-color: #2e425f;
    color: #ffffff;
}

.light {
    background-color: #c8fff8;
    color: #2e425f;
}

.color {
    background: linear-gradient(90deg, red 0%, orange 25%, yellow 50%, green 75%, blue 100%);
    color: #5163db;
}

.checkboxBlock {
    cursor: pointer;
}


.sendButtonBlock{
    margin-top: 20px;
}

.sendButtonBlock button {
    width: 80px;
    height: 30px;
    color:#ffffff;
    border: none;
    border-radius: 3px;
    background-color:#2e425f;
    cursor: pointer;
}

.sendButtonBlock button:active {
    transform: scale(0.95);
}


